<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
        <section class="contents d-flex justify-content-center" layout:fragment="contents">
            <div class="post-box my-5">
                <h1 class="text-center">메모 입력</h1>
                <input type="text" placeholder="제목을 입력하세요" class="form-control mt-4" id="titleInput" th:value="${memo.title}" value="메모 제목입니다.">
                <textarea class="form-control mt-2" rows="10" placeholder="내용을 입력하세요" id="contentsInput" th:text="${memo.contents}">메모 내용입니다.</textarea>
                <img th:src="${memo.imagePath}">
                <div class="d-flex justify-content-between mt-3">
                    <button type="button" class="btn btn-danger">삭제</button>
                    <div>
                        <a href="/post/list-view" type="button" class="btn btn-secondary">목록으로</a>
	                    <button type="button" class="btn btn-secondary" id="saveBtn">수정</button>                
                    </div>
                </div>
            </div>
        </section>