<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
            <div class="input-box my-5 p-5 rounded">
                <h2 class="text-center">회원 가입</h2>
                <input type="text" placeholder="아이디" class="form-control mt-4" id="idInput">
                <input type="password" placeholder="비밀번호" class="form-control mt-2" id="passwordInput">
                <input type="password" placeholder="비밀번호 확인" class="form-control mt-2" id="passwordConfirmInput">
                 <input type="text" placeholder="이름" class="form-control mt-4" id="nameInput">
                <input type="text" placeholder="이메일" class="form-control mt-2" id="emailInput">
                <button type="button" id="joinBtn" class="btn btn-secondary mt-3 btn-block">가입</button>
            </div>
        </section>
        
        <script layout:fragment="script">
            $(document).ready(function(){
                $("#joinBtn").on("click", function(){
                	let id = $("#idInput").val();
                    let password = $("#passwordInput").val();
                    let passwordConfirm = $("#passwordConfirmInput").val();
                    let name = $("#nameInput").val();
                    let email = $("#emailInput").val();
                    
                    if(id == "")
                    {
                        alert("아이디를 입력하세요.");
                        return;
                    }
                    if(password == "")
                    {
                        alert("비밀번호를 입력하세요.");
                        return;
                    }
                    if(password != passwordConfirm)
                    {
                        alert("비밀번호가 일치하지않습니다.");
                        return;
                    }
                    if(name == "")
                    {
                        alert("이름을 입력하세요.");
                        return;
                    }
                    if(email == "")
                    {
                        alert("이메일을 입력하세요.");
                        return;
                    }
                    
                    $.ajax({
                        type:"post"
                        , url:"/user/join"
                        , data:{"loginId":id, "password":password, "name":name, "email":email}
                        , success:function(data){
                            if(data.result == "succecss")
                            {
                                alert("회원가입 성공");
                                location.href="/user/login-view";
                            }
                            else
                            {
                                alert("회원가입 실패");
                            }
                        }
                        , error:function(){
                            alert("회원가입 에러");
                        }
                    });
                });
            });
        </script>
</html>