@charset "UTF-8";

#wrap
{
	width : 1200px;
	margin : 0 auto;
}

header
{
	height : 80px;
	background-color : #cccccc;
}

.contents > .input-box
{
	width : 400px;
	background-color : #cccccc;
}
footer
{
	height : 70px;
	background-color : #cccccc;
}